#modal .modal {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &.show {
    display: block;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 10px 20px;
    width: 80%;
    max-width: 500px;
    // height: 300px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      padding: 50px 0;
    }

    &__buttons {
      display: flex;
      width: 100%;
      border-top: 1px solid #dfdfdf;

      button {
        padding: 10px;
        width: 100%;
        border: none;
        background-color: #fff;
        cursor: pointer;
      }

      button:nth-child(1) {
        border-right: 1px solid #dfdfdf;
      }
    }
  }
}
